.Button {
    background-color: transparent;
    // border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 15px;
    margin: 10px;
    font-weight: bold;
    border: 1px solid gray;
}

// .Button:first-of-type {
//     margin-left: 0;
//     padding-left: 0;
// }

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}


.Success {
   // width: 100px;
    color: #5C9210;
    
   // transition: width  1s ;    
    transition: color 1s;
    transition: background-color 1s;
   
}

.Success:hover {
   color: white;
   background-color: #5C9210;
  // width: 150px;
}


.Danger {
    color: red;
    transition: color 1s;
    transition: background-color 1s;
}
.Danger:hover {
    color: white;
    background-color: red;   
 }

 .New {
    color: #5C9210;
    transition: color 1s;
    transition: background-color 1s;
}
.New:hover {
    color: white;
    background-color: #5C9210;   
 }

 .Edit {
    color: black;
    transition: color 1s;
    transition: background-color 1s;
}
.Edit:hover {
    color: black;
    background-color: skyblue;   
 }

 .Details {
    color: gray;
    transition: color 1s;
    transition: background-color 1s;
}
.Details:hover {
    color: white;
    background-color: gray;   
 }

 .Delete {
    color: red;
    transition: color 1s;
    transition: background-color 1s;
}
.Delete:hover {
    color: white;
    background-color: red;   
 }