$gridheaderbackgroundcolor :lightblue;
$gridbordercolor :coral;
$columnbordercolor:gray;
.modrekgrid{
    border: solid 2px $gridbordercolor;
    height: 350px;
 width: 100%;
}

.modrekgrid-header{
    /* border: solid 2px steelblue; */
    display: flex;
    justify-content: flex-start;
    
}

.modrekgrid-footer{
    
    display: flex;
    justify-content: flex-start;   
   // width: 100%;
    height: 40px;
    border: solid 1px $columnbordercolor;
    background-color: $gridheaderbackgroundcolor
    
}

.modrekgrid-headercol{
    padding: 5px ;
    width: 200px;
    text-align: center;
    border: solid 1px $columnbordercolor;
    cursor: pointer;
    background-color:$gridheaderbackgroundcolor;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}


.modrekgrid-row{
    /* border: solid 2px steelblue; */
    display: flex;
    justify-content: flex-start;

}

.modrekgrid-datacol{
    padding: 5px 30px;
    width: 200px;
    border: solid 1px $columnbordercolor; 
  
}

.modrekgrid-headercolMenu{
    text-align: right;
}
