$navbar-color:#563d7c;

.modreknavbar{
    background-color: $navbar-color;
    color:white;

}

.nav-item{
    color: white;
    background-color: $navbar-color;
    transition: border-bottom 2ms;
}

.nav-link{
    color: white;       
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
}


.nav-item  :hover{
    // color: $navbar-color !important;
    // background-color: white !important;
    background-color: #786792 !important;
}
.dropdown-menu{
    
    box-shadow: 3px 3px 5px grey;
    margin-left: -45px;

}

.dropdownlink{
    color: $navbar-color;

}
.dropdownlink:hover{
    color: white !important;
    background-color: $navbar-color !important;
}
.nav-item a:hover,
.nav-item a:active,
    .nav-item a.active {
        background-color: #786792;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }